@charset "UTF-8";


.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);

    gap: 5px;
}

.caixa1 {
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: span 4 ;

    background-color: lightskyblue;
}

.caixa2 {
/*  grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; 
*/
    grid-area: 2/1/4/3;

    

    background-color: lightcoral;
}

.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: lightgreen;
}